body{
    background-color: grey;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    margin-top: 10px;
    margin-left: -5px;
    margin-bottom: -50px;
}
header{
    background-color: #ccc;
    
}
a:hover{
background-color: grey;
}

li a{
    text-decoration: none;
    color: inherit;
    font-size: 25px;
                
}
.menu{
    list-style-type: none;
    display: flex;
    gap: 30px;  
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif;        
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.i1{
    margin-left: 80px;;
}
.fim{
    list-style-type: none;
    margin-left: -30px;
}
footer{
    background-color: #ccc;
    margin-top: 40px;
    padding: 8px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif;    
}
.meio{
    margin-left: 500px;
    margin-top: -30px;
}
.final{
    margin-left: 1100px;
    margin-top: -45px;
}
.geral{
    border: 4px dotted black;
    width: 500px;
    margin-left: 400px;
    padding: 20px 20px;
    margin-top: 35px;
    
}




.footermedia{
    background-color: #ccc;
    margin-top: 220px;
    padding: 8px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif;  
}
.footerimc{
    background-color: #ccc;
    margin-top: 70px;
    padding: 8px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif; 
}
    .footeridade{

    background-color: #ccc;
    margin-top: 140px;
    padding: 8px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Raleway', sans-serif; 
    }







    .verificaridade{
        margin-top: 150px;
        font-size: 20px;
    }
        .titulidade{
            font-size: 35px;
        }
        .espaconome{
            margin: auto;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: -10px;
            margin-bottom: 5px; 
            width: 15%;                
        }
        .espaconome p{
            margin-bottom: -2px;
        }
        .espacoidade{
            margin-top: 60px;
            margin-left: 470px;
            font-size: 20px;
            font-family: 'Kanit';
            
        }
        .espacoidade p{
            margin-bottom: -2px;
            
            
        }
        .btnum{
            margin-left: 470px;
            height: 20px;
            width: 150px;
            margin-top: 10px;
            font-family: 'Kanit';
        }       
        .pai{
            border: 1px solid rgb(253, 251, 251);
            padding: 15px 20px;
            background-color: rgba(255, 228, 196, 0.329);
        }
        .mae{
            border: 2px solid rgb(248, 244, 244);
            width: 200px;
            background-color: rgb(78, 78, 92);
            padding: 30px;
            margin:auto;
        }
        .botaoidade{
            margin-top: 5px;
            justify-content: center;
            display: flex;
        }
        .nomeidade{
            margin: auto;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: -10px;
            margin-bottom: 5px; 
        }
        .digiteaidade{
            margin: auto;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: -10px;
            margin-bottom: -20px;
        }
        .inputidade{
            justify-content: center;
            display: flex;
        }
        .inputnome{
            justify-content: center;
            display: flex;
        }
        .pidade{
            font-family: 'Raleway', sans-serif;
            font-size: 25px;
            margin-top: -150px;
            margin-bottom: 200px;
        }
    
    
        
   

        .divnomemedia{
            margin: auto;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: -10px;
            margin-bottom: 5px; 
            width: 50%;  
           }
           .titulomedia{
            font-family: 'Raleway', sans-serif;
            font-size: 30px;   
           }
           .divinputnome{
            justify-content: center;
            display: flex;
           }
           .divnota1{
            justify-content: center;
            display: flex;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 5px;
           }
           .inputnota1{
            justify-content: center;
            display: flex;
           }
           .divnota2{
            justify-content: center;
            display: flex;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 5px;
           }
           .inputnota2{
            justify-content: center;
            display: flex;
           }
           .divnota3{
            justify-content: center;
            display: flex;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 5px;
           }
           .inputnota3{
            justify-content: center;
            display: flex;
           }
           .divfrq{
            justify-content: center;
            display: flex;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 5px;
           }
           .inputfrq{
            justify-content: center;
            display: flex;
           }
           
           .principalmedia button{
            margin-left: 120px;
            margin-top: 10px;
            
           }
           .divresultado{
            margin-left: 120px;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: -250px;
            width: 300px;
            font-size: 30px;
           }

 


           


           .paimc{
            border: 2px solid rgb(248, 244, 244);
            width: 250px;
            padding: 20px 10px 15px 10px;
            margin-left: 40px;
            background-color: rgba(255, 228, 196, 0.329);
        }
        .maeimc{
            border: 2px solid rgb(248, 244, 244);
            width: 350px;
            margin-left: 500px;
            padding: 30px;
            background-color: rgb(78, 78, 92);
        }
        
        .intimc{
        margin: auto;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        width: 45%;
        }
        .nomeimc{
            margin: auto;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: -10px;
            margin-bottom: 5px; 
            width: 70%;              
        }
        .inputnomeimc{
            width: 70%;  
            margin: auto;
            text-align: center;
        }
        .valoridade{
            margin: auto;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 5px; 
            width: 70%;   
        }
        .inputidadeimc{
            width: 70%; 
            margin: auto;
            text-align: center;
        }
        .valorpeso{
            margin: auto;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 5px; 
            width: 70%;  
        }
        .inputpesoimc{
            width: 70%; 
            margin: auto;
            text-align: center;
        }
        .valoraltura{
            margin: auto;
            text-align: center;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: 20px;
            margin-bottom: 5px; 
            width: 70%;  
        }
        .inputaltura{
            width: 70%; 
            margin: auto;
            text-align: center;
        }
        .botaoimc{
            width: 70%; 
            padding-top: 3px;
            margin: auto;
            text-align: center;
        }
        .valortotalimc{
            margin-left: 180px;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            margin-top: -350px;
            width: 300px;
            font-size: 30px;
        }
           


        .menusalario{
            font-family: 'Raleway', sans-serif;
            font-size: 25px;
            justify-content: center;
            display: flex;
        }
        .nomeemprego{
            justify-content: center;
            display: flex;
            margin-top: 15px;
            font-size: 20px;
            font-family: 'Raleway', sans-serif;
        }
        .inputcargo{
            justify-content: center;
            display: flex;
            margin-top: 5px;
        }
        .informenomesalario{
            justify-content: center;
            display: flex;
            margin-top: 15px;
            font-size: 19px;
            font-family: 'Raleway', sans-serif;
            margin-bottom: -95px;
        }
        .inputsalario{
            justify-content: center;
            display: flex;
            margin-top: 100px;
            
            
        }
        .resultadoaumento{
            margin-left: 180px;
            font-family: 'Raleway', sans-serif;
            margin-left: 0px;
            font-size: 20px;
            margin-top: 30px;
            width: 470px;
            
    }
        .resultadosalario{
            margin-left: 180px;
            font-family: 'Raleway', sans-serif;
            margin-left: 0px;
            font-size: 20px;
            margin-top: -170px;
            width: 450px; 
            
        }
        
        .botaosalariobase{
            margin-left: 30%;
            margin-top: 5px;
        }
        .princpalsalariomenu{
            border: 1px solid rgb(243, 240, 240);
            width: 300px;
            margin-left: 20px;
            height: 200px;
            margin-top: 20px;
            padding-bottom: 10px;
            background-color: rgba(255, 228, 196, 0.329);
        }
        .principal2salario{
            border: 2px solid rgb(248, 244, 244);
            margin: auto;
            height: 250px;
            width: 340px;
            margin-top: 70px;
            position: relative;
            background-color: rgb(78, 78, 92);
        }
        .footersalario{
            background-color: #ccc;
            margin-top: 200px;
            padding: 8px;
            font-family: 'Kanit', sans-serif;
             
        }
        .opcoesempregos{
            justify-content: center;
            display: flex;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
        }
        .empregosemlinha{
            justify-content: center;
            display: flex;
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
        }
        