@model EntityProjectNew.Models.ViewModels.LoginViewModel
@{
}

<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" asp-for="@Model.Email" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" asp-for="@Model.Senha" class="form-control">
    </div>
    <button type="submit" asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-primary">Submit</button>
</form>