@model EntityProjectNew.Models.ViewModels.CriarUserViewModel
@{
}

<form method="post">
    <div class="mb-3">
        <label  class="form-label">UserName</label>
        <input asp-for="@Model.Nome" type="text" class="form-control" >
    </div>
    <div class="mb-3">
        <label  class="form-label">Email</label>
        <input asp-for="@Model.Email" type="email" class="form-control">
    </div>
    <div class="mb-3">
        <label  class="form-label">Password</label>
        <input asp-for="@Model.Senha" type="password" class="form-control">
    </div>
    
    <button type="submit" asp-area="" asp-controller="Account" asp-action="Registrar" class="btn btn-primary">Submit</button>
</form>