@model AgendaMvc.Models.Locais
@{
    ViewData["Title"] = "Create";
}
<h1>Cadastro de Locais</h1>
<form method="post">
    <div class="mb-3">
        <label class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id">
    </div>
    <div class="mb-3">
        <label class="form-label">Descrição</label>
        <input type="text" class="form-control" asp-for="Descricao">
    </div>
    <div class="mb-3">
        <label class="form-label">Rua</label>
        <input type="text" class="form-control" asp-for="Rua">
    </div>
    <div class="mb-3">
        <label class="form-label">Número</label>
        <input type="text" class="form-control" asp-for="Numero">
    </div>
    <div class="mb-3">
        <label class="form-label">Cidade</label>
        <input type="text" class="form-control" asp-for="Cidade">
    </div>

    <button type="submit" class="btn btn-primary" asp-area="" asp-controller="Locais" asp-action="Create">Criar</button>
</form>
