@model AgendaMvc.Models.Compromisso
@{
    ViewData["Title"] = "Delete";
}

<h3>Deseja realmente excluir?</h3>

<form method="post">
    <div class="mb-3">
        <label  class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id">
    </div>
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" asp-for="Descricao">
    </div>
    <div class="mb-3">
    <label  class="form-label">Email</label>
        <input type="text" class="form-control" asp-for="Data">
    </div>
    <div class="mb-3">
        <label class="form-label">Telefone</label>
        <input type="text" class="form-control" asp-for="Contato">
    </div>
    <div class="mb-3">
        <label class="form-label">Telefone</label>
        <input type="text" class="form-control" asp-for="Local">
    </div>

<button type="submit" formmethod="post" class="btn btn-danger" asp-area="" asp-controller="Compromisso" asp-action="DeleteConfirmed">Sim</button>
<button type="submit" class="btn btn-primary" asp-area="" asp-controller="Compromisso" asp-action="Index">Não</button>
</form>
